<strong>Recuperação de senha</strong>

<h3>Um pedido de recuperação de senha foi enviado para o email -> {{ email }}</h3>
<h4>Para recuperar a senha use o token -> {{ token }} ou clique no link abaixo</h4>
<br>
<a href="{{link}}">Nova Senha</a>